.login-layout{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    max-width: 300px;

    .input-icon {
      color: rgba(0,0,0, 0.25);
    }

  }
}